/* cell private styles. */

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 5px solid #2c3e50;
  border-radius: 5px;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;

  /* Fill the whole box. */
  width: 100%;
  height: 100%;
  /* Set the font size. */
  font-size: 4em;
  font-weight: bold;
  background-color: #34495e;
}

button:hover {
  cursor: pointer;
  background-color: #cfd8dc;
}

button:disabled {
  cursor: auto;
}